body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
.user, .posts {
    margin-bottom: 30px;
}
.post {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
}